@import "../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

$enable-responsive-font-sizes: true;
$enable-deprecation-messages: true;

$text-dark-link-color: #00B9FF;

.text-dark-link {
  color: $text-dark-link-color;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
